input {
    border: 2px solid #777;
    height:10vw;
    width: 10vw;
    font-weight:  bold;
    text-align: center;
    font-size: 4vw;


}
input:disabled{
    color: #535353;
   
}


.rojo {
    background-color: rgb(255, 71, 71);

}

.white {
    background-color: white;
}




.sudoku-board {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    max-width: 90vw;
    margin: 0 auto;
}

.sudoku-board .row {
    display: flex;
}

.borde {
    border-bottom: 3px solid black;
}

.borderight{
    border-right: 3px solid black;
}




