input {
    border: 2px solid #777;
    height: 50px;
    width: 50px;
    font-weight:  bold;
    text-align: center;


}
input:disabled{
    color: #535353;
   
}


.rojo {
    background-color: red;

}

.white {
    background-color: white;
}




.sudoku-board {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    
}

.sudoku-board .row {
    display: flex;
}

.borde {
    border-bottom: 3px solid black;
}

.borderight{
    border-right: 3px solid black;
}



